.header-logo{
  float: left;
}
.header-navbar {
  text-align: left;
  float: right;
  border: 0px;
  padding: 0px 0px 20px;
  background: $black--80;
  position: absolute;
  left: 0;
  right: 0;
  margin: 81px -16px 0px;
  @include break(sm){
    width: auto;
    padding: 19px 0px 0px;
    position: relative;
    margin: 0px;
    background: transparent;
  }
  a {
    float: left;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    @include break(sm) {
      float: none;
      text-align: right;
      width: auto;
      border-radius: 8px;
    }
    &:hover{
      text-decoration: none;
      color: $grey;
      background: $black;
    }
  }
}
.main-navigation {
  background: transparent;
  border: 0px;
  padding: 19px 0px 0px;
  a {
    color: $white;
  }
}
