.sidebar-outer {
  position: relative;
}
.fixed {
  position: fixed;
  padding-top: 22px;
  padding-right: 22px; 
}
.sidebar-inner{
  padding-top: 10px;
  padding-right: 10px;
  @include break(md){
    position: fixed ;
    padding-top: 22px;
    padding-right: 22px;
  }
}
.logo{

}
.logo-center{
  margin: 0px auto;
  display: block;
  width: 300px;
  @include break(sm){
    width: auto;
  }
}
.social-links {
  display: table;
  width: 320px;
  margin: 28px auto;
   @include break(sm){
      width: 100%;
   }
}
.social-links a {
  display: table-cell;
  text-align: center;
  width: 20%;
}
.social-links img {
  width: 100%;
  max-width: 29px;
}
.latest-podcast{
  margin-bottom: 28px;
}




