.header-navbar{
  text-align: left;
  padding: 20px 0 0;
  float: right;
  border: 0px;
  a{

/*    @media (max-width: $screen-xs-max) {
      float: left;
      width: 100%;
      text-align: center;
    }*/
  }
  @media (max-width: $screen-xs-max) {
    width:100%;
  }
}

.main-navigation{
  background: transparent;
  border: 0px;
  a{
    color: $white;
  }
}