.social-media__link {
  width: 25%;
  height: 110px;
  float: left;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  @include break(sm){

  }
  &--facebook{
    background-image:url('../images/home/facebook.png');
  }
  &--twitter{
   background-image:url('../images/home/twitter.png');
  }
  &--youtube{
    background-image:url('../images/home/youtube.png');
  }
  &--instagram{
    background-image:url('../images/home/instagram.png');
  }
}


