</div>
</div>
</div>
<!-- THe above tags are used to close opening tags created in the header -->
<!--Footer is placed outsite the other main content divs so that we can extend 100% also-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 footer-form">
                <form action="MAILTO:billyoreilly@gmail.com" method="post" enctype="text/plain">
                   <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input name="emailaddress" type="text" class="form-control" id="exampleInputName2" placeholder="Art your face via email"/>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button type="submit" value="send" class="btn btn-default">sign up</button>
                        </div>
                    </div>
                 </form>
            </div>
            <div class="col-xs-12 col-md-4 footer-social-links">
                <a class="social-link" href="https://twitter.com/billistrations" target="_blank"><img src="{{ site.url }}/images/twitter.png" alt="Link to Twitter"/></a>
                <a class="social-link" href="https://www.facebook.com/Billistrations" target="_blank"><img src="{{ site.url }}/images/facebook.png" alt="Link to Facebook"/></a>
            </div>
        </div>
    </div>
</footer>