</div>
</div>
</div>
<!-- THe above tags are used to close opening tags created in the header -->
<!--Footer is placed outsite the other main content divs so that we can extend 100% also-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 footer-form">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="put yer email here">
                    </div>
                    <button type="submit" class="btn btn-default">sign up</button>
                </form>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-offset-3">
                        <a class="social-link" href="https://twitter.com/billistrations" target="_blank"><img src="{{ site.url }}/images/twitter.png" alt="Link to Twitter"/></a>
                        <a class="social-link" href="https://www.facebook.com/Billistrations" target="_blank"><img src="{{ site.url }}/images/facebook.png" alt="Link to Facebook"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>