
// COLORS

$white:  #fff;
$grey: #9a9a9a;
$black:  #000;
$black--80: rgba(0, 0, 0, 0.8);
$purp: #4a0f85;
$purp: rgba(75, 15, 133, 0.8);
$purp-dark: #270847;


// font familys

$font-family-sans-serif:  'Abel', sans-serif;


// Breakpointsa for terse css media breakpoints


$mobilewidth:768px;
$tablewidth:992px;
$largewidth:1200px;
$maxwidth:1440px;
$fullwidth:100%;

$breakpoints:(
    sm: $mobilewidth,
    md: $tablewidth,
    lg: $largewidth,
    max: $maxwidth,
    ful: $fullwidth
)