article{
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 10px;
	padding-bottom: 54px;
	@include break(md){	
		padding-top: 22px;
		padding-right: 30px;
		padding-left: 10px;
		padding-bottom: 22px;
	}
}
.fb-like{
	padding-bottom: 22px;
}