.img-block{
	height: 552px;
	padding: 0px 15px;
}

.img--knockknock{
	background-image: url("../images/knockknock.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
height: 100%;
width: 100%
}


