.container-illustration{
	padding-top: 20px;
}

.illustration{
	margin-bottom: 20px;
}

.illustration-ls{
	padding-top: 20px;
}

.illustration-text{
	padding-top: 0px;
	padding-bottom: 20px;
}

.illustration-video{
	margin-bottom: 20px;
}

.illustration-podcast{
	margin-bottom: 20px;
	overflow: hidden;
	height: 140px;
}

.img-button-cover{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	z-index: 200;
	width: 100%;
	top: 0;
	left: 0; 
	&:before{
		content: ' ';
	}
}


.img-button-cover--video{
	height: 404px;
	@include break(md){
		height: 315px;
	}
}



.illustration-content--none{
	background: #ffccff;
	text-align: center;
	padding:20px 0px;
	color: #ec0000;
}