.work-image{
  background: $black--80;
  height: 140px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  background-size: 160% auto;
  transition: height 1s ease-out;
  &:before{
    content:' ';
    position: absolute;
    background: $black--80;
    width: 100%;
    height: 100%;
    left: 0;
    transition: background 1s ease-out;
  }
  &:hover{
    &:before{
      background: transparent;
    }
  }
  @include break(sm){
    height: 300px;
  }
}


.work-image--bards {
  background-image: url("../images/work/bards.jpg");
}
