.container__background{
  background-position: 50% 0%;
  background-repeat: no-repeat;
  &:before{
    content:'';
    position: absolute;
    height: 100px;
    width: 100%;
    top:0 ;
    background-image: url("../images/background--hair.jpg");
  }
}

/* Extra style used to align background image larger on the homepage */
.container__background--home{
  background-image: url("../images/background--hair-purp.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  top:0 ;
  bottom: 0;
  position: absolute;
    &:before{
    background-image: none;
  }
}

.container__background--emailabra{
  background-image: url("../images/emailabra.jpg");
  background-position: 50% 25%;
    &:before{
    background-image: none;
    background-color: $black--80;
  }
}

.container__background--bloggy{
  background-image: url("../images/background--face.jpg");
}

.container__background--work{
  background-image: url("../images/background--face.jpg");
}