.btn{
  background: $purp;
  color: $white;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 0px;
  width: 100%;
  &:hover{
    background-color: $purp-dark;
    color: $white;
  }
}
.btn--home{
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 0px;
    &:hover{
    background-color: transparent;
    opacity: 0.6;
  }
}
.home-btn--art{
  background-image: url("../images/home/art.svg");
}
.home-btn--blog{
  background-image: url("../images/home/blog.svg");
}
.home-btn--say-hello{
  background-image: url("../images/home/say-hello.svg");
  margin-top: 20px;
}