.btn{
  background: $purp;
  color: $white;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 0px;
  width: 100%;
  &:hover{
    background: $purp-dark;
    color: $white;
  }
}

.btn--home{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-size: 3em;
  background-color: white;
  color: $blue-dark;
  margin-top: 25px;
  border-radius: 0px;
}