.btn{
  background: $purp;
  color: $white;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 0px;
  width: 100%;
  &:hover{
    background: $purp-dark;
    color: $white;
  }
}