/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) 
{ 
    div[class^="col"]{padding-left:5px; padding-right:5px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{   
    div[class^="col"]{padding-left:10px; padding-right:10px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{   
    /*default so you don't need this*/
    div[class^="col"]{padding-left:15px; padding-right:15px;}
}

html {
  position: relative;
  min-height: 100%;
}

/* his margin equals the height of the footer so that it can remain sticky */

body{
  font-family:$font-family-sans-serif ;
  font-size: 16px;
  line-height: 28px;
  color: $black;
  font-weight: 100;
}


