html {
  position: relative;
  min-height: 100%;
}

/* his margin equals the height of the footer so that it can remain sticky */

body{
  font-family:$font-family-sans-serif ;
  font-size: 16px;
  line-height: 28px;
  color: $black;
}

header{
  height: 100px;
  margin-bottom: 15px;
}

.header__logo {
  background: url("../images/logo--white.svg") no-repeat top center;
  width: 200px;
  height: 58px;
  float: left;
}

.header__logo--home{
  width: 80%;
  height: 115px;
  margin: 20px auto;
  display: block;
  float: none;
}

section{
  min-height:750px;
}

footer{
  height: 200px;
  background: url("../images/paper-bits.png") no-repeat left  $white;
  background-position: -428px -38px;
  bottom: 0;
  width: 100%;
}
