.footer-social-links{
	text-align: center;
	@include break(sm){
		text-align: right;
	}
}
.social-link{
  float: left;
}
.share-container{
  padding: 25px 27px;
  float: right;
  border-radius: 5px;
  height: 67px;
  text-align: center;
}

.ls-share-container{
  background: $black--80;
  text-align: right;
  width: 100%;
  height: 100%;
  float: left;
}