---
layout: default
---



<div class="col-xs-12 col-md-8">
	<img class="img-responsive home-img" src="../images/work/unicornasaurus.jpg" alt="{{ post.ref }}">
</div>
<div class="col-xs-12 col-md-4">
	<article>
		<div class="fb-like" data-href="https://www.facebook.com/Billistrations/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		Welcome to my internet place. WHy have this aswell as all the other social things? Well because of reasons that's why. Riddle me this you fiddly piss, how does it, when all of everything isn't, still be always doing? Internets forever my gracious eyewobblies.
	</article>
</div>




{% for post in site.posts %}
<div class="col-xs-12 col-md-8">
	<img class="img-responsive home-img" src="../images/work/{{ post.ref }}.jpg" alt="{{ post.ref }}">
</div>
<div class="col-xs-12 col-md-4">
	<article>
		<div class="fb-like" data-href="https://www.facebook.com/Billistrations/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		{{ post.content }}
		<a href="#" target="_blank">Artists Name</a><br>
		<a href="#" target="_blank">Photos of Event</a><br>
	</article>
</div>
{% endfor %}

