<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	
	<div class="container-fuild container__background container__background--{{ page.background }}">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<a class="header__logo header__logo--home" href="{{ site.url }}"></a>
					<div class="home-content">
						<p>I am Billy</p>
						<p>I do Illustrations</p>
					</div>
					<div class="row">
						<div class="col-xs-6"><a href="blog.html" class="btn btn--home">blog</a></div>
						<div class="col-xs-6"><a href="art.html" class="btn btn--home">art</a></div>
						<div class="col-xs-12"><a href="say-hello.html" class="btn btn--home">say hello</a></div>
					</div>
					<div class="home-content">
						<p>Sign up to my newsletter</p>
						<p>FOr no reason</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="{{site.url}}vendor/js/jquery.min.js"></script>
<script src="{{site.url}}vendor/js/bootstrap.min.js"></script>
<script src="{{site.url}}js/init.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-27203757-1', 'auto');
ga('send', 'pageview');

</script>
</body>
</html>