---
layout: default
---
<div class="row">
	<div class="col-xs-12-fluid col-md-7">
		<div class="row">
			<div class="col-xs-12">
				<img class="illustration img-responsive" src="images/work/{{ page.ref }}.jpg" />
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-5">
		<div class="row">
			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<div class="col-xs-12 col-md-5">
				<a class="btn btn-default" href="{{site.url}}work.html">BACK FOR MORE!!
				</a>
			</div>
			<div class="col-xs-12 col-md-7">
				<div class="addthis_native_toolbox share-container">
				</div>
			</div>
			<div class="col-xs-12 illustration-text">
				<h1>
					{{ page.header }}
				</h1>
				{{ content }}
			</div>
			<div class="col-xs-12 illustration-video">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe id="playvideo" src="{{ page.timelapse }}" frameborder="0" allowfullscreen autoplay></iframe>
					<div class="img-button-cover img-button-cover--video playvideo" style="background-image:url(images/illustration-page/video.png)">
					</div>
				</div>
			</div>
			<div class="col-xs-12 illustration-podcast">
				<div class="embed-responsive embed-responsive-16by9">
					<!-- images/illustration-page/video.png -->
					<iframe id="playpodcast"  width="100%" scrolling="no" frameborder="no" src="{{ page.podcast }}&amp;color=ff5500&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
					<div class="img-button-cover img-button-cover--podcast playpodcast" style="background-image:url(images/illustration-page/podcast.png)">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




