---
layout: default
---
<div class="container">
	<div class="row">
		<!-- Top row back to work page and social share section -->
		<div class="col-xs-12 col-md-6">
			<a class="btn btn-default" href="{{site.url}}art.html">BACK</a>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="ls-share-container">
				<div class="share-container">
					<div class="addthis_native_toolbox"></div>
				</div>
			</div>
		</div>

		<!-- illustrations image -->
		<div class="col-xs-12 illustration-ls">
			<img class="illustration img-responsive" src="../images/work/{{ page.ref }}.jpg" />
		</div>

		<!-- Row for video podcast and text content -->
		<div class="col-xs-12 col-md-6">
			<h1>
				{{ page.header }}
			</h1>
			{{ content }}
		</div>
		<div class="col-xs-12 col-md-6 illustration-text">
			<div class="row">
				<div class="col-xs-12 illustration-video">
					{% if page.timelapse contains "youtube" %} 
					<a href="#">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe id="playvideo" src="{{ page.timelapse }}" frameborder="0" allowfullscreen autoplay></iframe>
							<div class="img-button-cover img-button-cover--video playvideo" style="background-image:url(../images/illustration-page/video.png)">
							</div>
						</div>
					</a>
					{% else %}
					<!-- <div class="illustration-content--none">No Timelapse for this illustration yet!! Yet?... sorry.... What?</div> -->
					{% endif %}
				</div>
				<div class="col-xs-12 illustration-podcast">
					{% if page.podcast contains "soundcloud" %}
					<a href="#">
						<div class="embed-responsive embed-responsive-16by9">
							<!-- images/illustration-page/video.png -->
							<iframe id="playpodcast"  width="100%" scrolling="no" frameborder="no" src="{{ page.podcast }}&amp;color=ff5500&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
							<div class="img-button-cover img-button-cover--podcast playpodcast" style="background-image:url(../images/illustration-page/podcast.png)">
							</div>
						</div>
					</a>
					{% else %}
					<!-- <div class="illustration-content--none">No Podcast fot this illustration, my god man what are you doing with your time! Making this god damn website with if statments no less, if less statemtent then. And other text.</div> -->
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


























