---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            {% include post-detail.html %}
        </div>
        <div class="col-xs-12 col-md-9 blog-content">
            <h1>{{ page.blog-header }}</h1>
            <p >{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <article class="blog-posts">
                {{ content }}
            </article>
        </div>
    </div>
</div>