---
layout: default
---
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-3 col-md-push-9">
            <ul class="blog-post-listing--links">
                {% for post in site.posts %}
                <li>
                    {{ post.date | date: "%b %-d, %Y" }}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-md-9 col-md-pull-3">
            <h1>{{ page.blog-header }}</h1>
            <p >{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <article class="blog-posts">
                {{ content }}
            </article>
        </div>

    </div>
</div>